<footer class="bg-blue-950 text-white p-6">
  <div class="container mx-auto border-b border-white">
    <div class="footer-list">
      <picture>
        <img src="assets/trello/png/Trello_icon.png" alt="Logo trello" loading="lazy" width="40" />
      </picture>

      <ul class="footer-list">
        <li>
          <div>
            <p class="footer-list-item--title">About Trello</p>
          </div>
          <div>
            <p class="footer-list-item--description" translate="no">What’s behind the boards.</p>
          </div>
        </li>
        <li>
          <div>
            <p class="footer-list-item--title">Jobs</p>
          </div>
          <div>
            <p class="footer-list-item--description" translate="no">
              Learn about open roles on the Trello team.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container mx-auto mt-2 pt-2">
    <ul class="social">
      <li>
        <a href="https://www.instagram.com/trelloapp" rel="noopener" target="_blank">
          <span class="sr-only">Perfil de instagram</span>
          <fa-icon [icon]="icons.instagram" size="lg"></fa-icon>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/trelloapp" rel="noopener" target="_blank">
          <span class="sr-only">Perfil de facebook</span>
          <fa-icon [icon]="icons.facebook"></fa-icon>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/trello/?_l=es_ES" rel="noopener" target="_blank">
          <span class="sr-only">Perfil de Linkedin</span>
          <fa-icon [icon]="icons.linkedin"></fa-icon>
        </a>
      </li>
      <li>
        <a href="https://x.com/trello" rel="noopener" target="_blank">
          <span class="sr-only">Perfil de X</span>
          <fa-icon [icon]="icons.twitter"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</footer>
