<div class="md:flex md:flex-row-reverse gap-10">
  <div class="py-10 md:w-2/3">
    <swiper-container
      #swiperRef
      slides-per-view="1"
      loop="false"
      space-between="20"
      (swiperslidechange)="onSlideChange($event)"
    >
      <swiper-slide class="">
        <picture
          class="flex rounded-xl overflow-hidden bg-neutral-100 pt-5 pl-6 md:pt-10 md:pl-11 min-h-[420px] relative"
        >
          <img
            src="assets/board.webp"
            alt="Tablero de ejemplo"
            class="h-full min-h-[420px] rounded-xl absolute object-cover"
          />
        </picture>
      </swiper-slide>
      <swiper-slide>
        <picture
          class="flex rounded-xl overflow-hidden bg-blue-100 pt-5 pl-6 md:pt-10 md:pl-11 min-h-[420px] relative"
        >
          <img
            src="assets/board2.webp"
            alt="Tablero de ejemplo"
            class="h-full min-h-[420px] rounded-xl absolute object-cover"
          />
        </picture>
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="cards flex flex-col gap-4 w-full justify-center">
    <button class="!py-5" (click)="goToSlide(0)" [ngClass]="currentSlide === 0 ? activeCard : ''">
      <div class="text-left">
        <h3 class="!mt-2">Inbox</h3>
        <p>
          When it’s on your mind, it goes in your Inbox. Capture your to-dos from anywhere, anytime.
        </p>
      </div>
    </button>

    <button class="!py-5" (click)="goToSlide(1)" [ngClass]="currentSlide === 1 ? activeCard : ''">
      <div class="text-left">
        <h3 class="!mt-2">Boards</h3>
        <p>
          Your to-do list may be long, but it can be manageable! Keep tabs on everything from
          "to-dos to tackle" to "mission accomplished!”
        </p>
      </div>
    </button>
  </div>
</div>
