input {
  padding: 4px 8px;
  display: block;
  width: 100%;
  border: 1px solid var(--color-blue-950);
  border-radius: var(--rounded);
}

.required::after {
  content: ' *';
  color: #dc2626;
  font-weight: bold;
}

.help-text {
  display: block;
  margin-bottom: 6px;
  font-size: 0.875rem;
  color: #6b7280;
}
