<component-overlay>
  <div trigger>
    <button>
      <span class="sr-only">Open user menu</span>
      <img
        class="w-8 h-8 rounded-full"
        src="https://flowbite.com/docs/images/people/profile-picture-3.jpg"
        alt="user photo"
      />
    </button>
  </div>

  <section panel class="panel shadow-lg border border-gray-200 mx-3">
    <div class="space-horizontal">
      <h2 class="title-section">CUENTA</h2>
      <div class="flex space-x-2 items-center">
        <img
          class="size-14 rounded-full"
          src="https://flowbite.com/docs/images/people/profile-picture-3.jpg"
          alt="user photo"
        />
        <div>
          <p>Nombre Usuario</p>
          <p class="text-gray-600">mail@mail.com</p>
        </div>
      </div>
    </div>

    <div class="section">
      <ul>
        <li>Cambiar cuentas</li>
        <li>Gestionar cuenta <fa-icon [icon]="icons.link"></fa-icon></li>
      </ul>
    </div>

    <div class="section">
      <h2 class="title-section space-horizontal">TRELLO</h2>
      <ul>
        <li>Perfil y visibilidad</li>
        <li>Actividad</li>
        <li>Tarjetas</li>
        <li>Ajustes</li>
        <li>
          <header-theme-menu />
        </li>
      </ul>
    </div>

    <div class="section">
      <ul>
        <li><fa-icon [icon]="icons.users"></fa-icon> espacio de trabajo</li>
      </ul>
    </div>

    <div class="section">
      <ul>
        <li>Ayuda</li>
        <li>Accesos directos</li>
      </ul>
    </div>

    <div class="section">
      <ul>
        <li>
          <button>Cerras sesión</button>
        </li>
      </ul>
    </div>
  </section>
</component-overlay>
