.global-container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-content {
  flex-grow: 1;
  display: flex;
  padding-top: 2rem;
}

main,
.main {
  padding-inline: 3rem;
}

.container-aside {
  padding-left: 3rem;
}
