<label>
  <span class="label-content" [class.required]="required">
    <ng-content select="[icon-left]"></ng-content>
    {{ label }}
    <ng-content select="[icon-right]"></ng-content>
  </span>

  @if(helpText){
  <span [id]="id + '-help'" class="help-text">{{ helpText }}</span>
  }

  <!--  -->
  <textarea
    [id]="id"
    [name]="name || id"
    [placeholder]="placeholder"
    [value]="currentValue"
    (input)="handleInput($event)"
    [disabled]="isDisabled"
    (blur)="onBlur()"
    [autocomplete]="autoComplete"
    [attr.aria-describedby]="helpText ? id + '-help' : null"
    [attr.aria-invalid]="error ? 'true' : null"
    [attr.aria-required]="required"
    [attr.aria-errormessage]="id + '-error'"
    [ngClass]="class"
  ></textarea>
</label>
@if ( error ) {
<span [id]="id + '-error'" class="text-red-400 block">{{ error }}</span>
}
