:root {
  --background: #fff;

  --primary: #0c66e4;
  --primary-foreground: #fff;
  --primary-hover: #458ff6;

  --rounded: 4px;

}


@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-foreground-primary: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
}
