@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.show-overlay {
  -webkit-animation: fadeIn .3s forwards ease-out;
  animation: fadeIn .3s forwards ease-out;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}



.hide-overlay {
  -webkit-animation: fadeOut 0.3s ease-in forwards;
  animation: fadeOut 0.3s ease-in forwards;
}
