html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.global-container {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.global-container-content {
  flex-grow: 1;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.container-aside {
  flex-grow: 1;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}


.main {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.show-overlay {
  -webkit-animation: fadeIn .3s forwards ease-out;
  animation: fadeIn .3s forwards ease-out;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}



.hide-overlay {
  -webkit-animation: fadeOut 0.3s ease-in forwards;
  animation: fadeOut 0.3s ease-in forwards;
}


/* Para toda la página */
::-webkit-scrollbar {
  width: 8px;
  /* Ancho de la barra de desplazamiento vertical */
}

/* El fondo del scroll */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  /* Fondo con un 20% de opacidad (más visible) */
  border-radius: 10px;
}

/* El "pulgar" o la parte arrastrable del scroll */
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.7);
  /* Color gris con 70% de opacidad (más visible) */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Cuando pasas el mouse por encima */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.9);
  /* Casi opaco al pasar el mouse */
}
