html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.global-container {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.global-container-content {
  flex-grow: 1;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.container-aside {
  flex-grow: 1;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}


.main {
  flex-grow: 1;
  padding-inline: 3rem;
  overflow: auto;
  height: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.show-overlay {
  -webkit-animation: fadeIn .3s forwards ease-out;
  animation: fadeIn .3s forwards ease-out;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}



.hide-overlay {
  -webkit-animation: fadeOut 0.3s ease-in forwards;
  animation: fadeOut 0.3s ease-in forwards;
}
