.trigger {
  padding: 0px;
}

.modal {
  background-color: var(--color-background);
  border-radius: var(--radius-lg);
  margin-inline: 16px;
  max-height: calc(100dvh - 200px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
