<header>
  <nav class="border-gray-200 shadow-md md:px-3">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <a routerLink="/boards">
          <picture class="block aspect-square lg:aspect-video h-8 lg:h-11">
            <source media="(min-width: 1024px)" srcset="assets/trello/png/Trello_logo_light.png" />
            <img
              src="assets/trello/svg/Trello_icon.svg"
              alt="Logo Trello"
              class="h-full w-full object-contain"
            />
          </picture>
        </a>
      </div>

      <div class="space-x-1.5 flex items-center">
        <component-overlay>
          <button class="md:hidden" trigger>
            <span class="sr-only">Buscar</span>
            <fa-icon class="text-gray-500 ml-1" [icon]="icons.search"></fa-icon>
          </button>

          <div panel class="bg-white p-4 border-gray-200 border">
            <h2>Buscar</h2>
          </div>
        </component-overlay>

        <label class="relative h-full hidden md:block">
          <span class="sr-only">Buscar</span>
          <fa-icon
            class="absolute top-1/2 -translate-y-1/2 text-gray-500 ml-1"
            [icon]="icons.search"
          ></fa-icon>
          <input
            id="search"
            name="search"
            class="px-1 pt-0.5 pl-7 bg-white border !border-gray-600 h-[34px]"
            type="text"
            autocomplete="off"
            placeholder="Buscar"
          />
        </label>

        <navbar-create-menu />
      </div>

      <div class="flex items-center">
        <div class="hidden md:block">
          <button>
            <fa-icon [icon]="icons.bullHorn"></fa-icon>
          </button>
        </div>
        <div class="hidden md:block">
          <button>
            <fa-icon [icon]="icons.bell"></fa-icon>
          </button>
        </div>
        <div class="hidden md:block">
          <button>
            <fa-icon [icon]="icons.question"></fa-icon>
          </button>
        </div>

        <navbar-account-menu />
      </div>
    </div>
  </nav>
</header>
