<div cdkDropListGroup class="list-container">
  @for (list of boardList; track $index) {
  <section
    class="list shadow-xl"
    cdkDropList
    [cdkDropListData]="list.cards"
    (cdkDropListDropped)="drop($event)"
    [attr.aria-labelledby]="list.id"
  >
    <div class="title-list-container">
      <div class="flex-1">
        <boards-title-list [id]="list.id" [title]="list.title" [initialValue]="list.title" />
      </div>
      <fa-icon [icon]="icons.dots"></fa-icon>
    </div>

    <ol class="tasks">
      @for (task of list.cards; track $index) {
      <li cdkDrag class="shadow">
        <button (click)="onClicTask(task, list.id)" class="task">
          {{ task.title }}
        </button>
      </li>
      }
    </ol>

    <board-add-task-button [listId]="list.id" (addTask)="newTask($event, list.id)" />
  </section>
  }
  <div class="list w-52">
    <boards-title-list
      id="new"
      title="Añade otra lista"
      [leftIcon]="icons.plus"
      (changeTitle)="newList($event)"
    />
  </div>
</div>
