<!-- This button triggers the overlay and is it's origin -->
<div
  class="trigger"
  [ngClass]="class"
  (click)="toggleOpen()"
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  <ng-content select="[trigger]"></ng-content>
</div>

<!-- This template displays the overlay content and is connected to the button -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  (detach)="isOpen = false"
  (overlayOutsideClick)="closePanel()"
>
  <ng-content select="[panel]"></ng-content>
</ng-template>
