aside {
  height: 100%;
  width: 300px;
  max-width: 300px;
}

.nav li {
  margin-bottom: 8px;
}

.nav a {
  display: block;
  border-radius: var(--radius-lg);
  padding: 6px 8px;
  width: 100%;
}

nav a:hover {
  background-color: var(--color-gray-200);
}

a.active {
  background-color: var(--color-blue-200);
  color: var(--color-blue-900);
}

.work-space-list {
  font-size: 14px;
}

.work-space-list li {
  width: 100%;
}

.work-space-list-item {
  display: block;
  transition: background-color 200ms ease-in;
  margin-top: 4px;
  padding: 4px 6px 4px 2.5rem;
  border-radius: 6px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.list-title {
  flex: 1;
}

.work-space-list-item:hover {
  background-color: var(--color-gray-100);
}
