aside {
  height: 100%;
}

.nav li {
  margin-bottom: 8px;
}

.nav a {
  display: block;
  border-radius: var(--radius-lg);
  padding: 6px 8px;
  width: 100%;
}

nav a:hover {
  background-color: var(--color-gray-200);
}

a.active {
  background-color: var(--color-blue-200);
  color: var(--color-blue-900);
}
